// ==================================
// footer
// ==================================
.l-footer {
  background:rgb(238, 193, 127);;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include mq() {
    font-size: $font-size_s;
  }
}
